[submodule "edgefinder"]
	path = edgefinder
	url = git@github.com:bwr/edgefinder.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
